:root {
  --color-background: #f5f5f5;
  --color-text: #333333;

  --font-family-base: Arial, sans-serif;
  --font-family-italic: Arial, sans-serif;
  --font-family-bold: Arial, sans-serif;
  --font-family-bold-xl: Arial, sans-serif;
  
  --font-size-base: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --spacing-base: 1rem;

  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);

  --color-black: #00003e;
  --color-white: #ffffff;

  --color-gray-dark: #545454;
  --color-gray-medium: #999999;
  --color-gray-light: #cfcfcf;
}


body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
}